body {
	font-family: Cambria, Georgia, Times, "Times New Roman", serif;
	background-color: lightblue;
	min-height: 100vh;
}
main {
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

/* navbar  */
.navbar {
	width: 100%;
}

.nav-item {
	font-size: 14px;
}

h1 {
	text-align: center;
}

/* home/about */
img {
	width: 300px;
	height: auto;
}

p {
	font-size: 16px;
}

/* portfolio */
.white {
	max-width: 18rem;
}

/* smaller screens media query */
@media screen and (max-width: 650px) {
	main {
		margin: 0;
	}

	img {
		width: 100%;
		height: auto;
	}

	.card {
		width: 100%;
	}

	h6 {
		font-size: 20px;
		text-align: left;
	}
}
